body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#controls {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
}

#searchBar {
    position: absolute;
    top: 20px;
    left: 40px;
    padding: 10px;
    z-index: 400;
}

#selectedMarkerName {
    position: absolute;
    background-color: aliceblue;
    top: 40px;
    left: 60px;
    padding: 10px;
    z-index: 400;
}

#selectedMarkerDistance {
    position: absolute;
    background-color: aliceblue;
    top: 80px;
    left: 60px;
    padding: 10px;
    z-index: 400;
}